body {
    background-color: #e0e0e0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 2px solid black;
}

h1 {
    color: #333;
    font-family: Arial, sans-serif;
}
p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}
button {
    padding: 5px 10px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #c4c4c4;
}
button:active {
    background-color: #a0a0a0;
}
input {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
select {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}